{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    <h1 align="center">My Hospital</h1>
    <style>
        p.c {
            font-style: oblique;
        }
    </style>
    <h4 align="right" class="c">"We care to cure you."</h4>

    <p>About Us Page..</p>

    <h2>All India Institute of Medical Sciences (AIIMS)</h2>
    <p>
        The All India Institute of Medical Sciences (AIIMS), located in New Delhi, is a premier medical college and research institute established by an Act of Parliament in 1956. It is known for its high standards in medical education, healthcare, and research.
    </p>
    <p>
        AIIMS offers a range of medical services and specialties, including cardiology, oncology, neurology, and more. It has a team of highly skilled healthcare professionals dedicated to providing quality patient care and conducting advanced medical research.
    </p>
    <p>
        The institute is recognized for its innovative healthcare delivery system, commitment to patient care, and contributions to medical education and research in India. AIIMS also serves as a model for other medical institutions in the country, emphasizing the importance of quality healthcare accessible to all.
    </p>

    <p>
        For more information, visit their official website: <a href="https://www.aiims.edu">AIIMS</a>.
    </p>
</div>
{% endblock %}
