{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}
<div class="jumbotron">
    <h1>Contact</h1>
    <br>
    <p>
        <strong>Address:</strong> <br>
        All India Institute of Medical Sciences (AIIMS), <br>
        Ansari Nagar, <br>
        New Delhi - 110029, <br>
        India <br>
        <strong>Phone:</strong> +91-11-26588500, +91-11-26588700 <br>
        <strong>Email:</strong> <a href="mailto:info@aiims.edu">info@aiims.edu</a> <br>
        <strong>Website:</strong> <a href="https://www.aiims.edu">www.aiims.edu</a> <br>
    </p>

    <h2>Follow Us</h2>
    <p>
        Stay connected with AIIMS on social media for updates and news: <br>
        <strong>Facebook:</strong> <a href="https://www.facebook.com/aiims.edu">facebook.com/aiims.edu</a> <br>
        <strong>Twitter:</strong> <a href="https://twitter.com/aiims_newdelhi">twitter.com/aiims_newdelhi</a> <br>
        <strong>Instagram:</strong> <a href="https://www.instagram.com/aiims_newdelhi">instagram.com/aiims_newdelhi</a> <br>
    </p>

    <h2>Operating Hours</h2>
    <p>
        <strong>Monday to Friday:</strong> 8:00 AM - 5:00 PM <br>
        <strong>Saturday:</strong> 9:00 AM - 1:00 PM <br>
        <strong>Sunday:</strong> Closed
    </p>
</div>
{% endblock %}
